/*----- Body -----*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 75px;
  background-image: url('./groovepaper.png');
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
}

h4, p {
  margin: 2px 0 2px 0;
}

th, td {
  padding: 0px !important;
  height: 0px !important;
  font-size: 15px !important;
  overflow: scroll !important;
  text-overflow: inherit !important;
}
/*----- Navigation Bar -----*/

nav {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  height: 75px;
  background-color: #545A5E;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 16px 10px 0 10px;
  transition: .5s;
  border-bottom: 5px solid rgba(144, 193, 91, .95);
}

.navWrapper {
  display: flex;
  direction: row;
  justify-content: center
}

.navButton {
  margin: 0 10px 0 10px;
  background-color: #90C15B !important;
}

/*----- Posts -----*/

.rightAlign {
  text-align: right;
  padding: 0 0 10px 0 !important;
}

.inlineChip {
  display: inline !important;
  padding: 5px !important;
  margin: 5px !important;
  background-color: #90C15B !important;
  text-transform: capitalize;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}

.postsContainer {

  height: auto;
  margin: 20px auto;
}

.uiCard1 {

  margin: 20px;
  transition: .5s

}

@media screen and (min-width: 400px) and (max-width: 980px) {
  iframe .videoWrapper{
    width: 560px;
    height: 315px;
  }
}

.videoWrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
border: solid white;
}
.videoWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}

.uiCardMenu {

  justify-content: center;
  margin-left: 20px;
  transition: .5s

}

.uiCardMenu1 {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  transition: .5s
}
.uiCardMenu2{
  text-align: center;
  font-size: 20px;
  background: url(../public/img/back.png) no-repeat center center;
  background-size: cover;
  margin: 20px;
  transition: .5s
}
.uiCardMenu3{
  text-align: center;
  font-size: 20px;
  background: url(../public/img/back.png) no-repeat center center;
  background-size: cover;
  margin: 20px;
  transition: .5s
}
.uiCardMenu4{
  text-align: center;
  font-size: 20px;
  background: url(../public/img/back.png) no-repeat center center;
  background-size: cover;
  margin: 20px;
  transition: .5s
}
.uiCardMenu5{
  background: url(../public/img/googiemoab.jpg) no-repeat center center;
  background-size: cover;
  margin: 20px;
  transition: .5s
}
.uiCard5{
  background-color: yellow;
  background-size: cover;
  margin: 20px;
  transition: .5s
}

.uiCard:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4) !important;
}
.uiCard1:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4) !important;
}

.cardBody {
  /*padding-top: 0px !important;*/
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0 10px 10px 10px;


}

/*----- Landing page -----*/

.center{
  display: flex;
  direction: row;
  justify-content: center;
}

.carousel {
  margin-bottom: 2rem;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.landingCarouselHeader {
  color: #8DBC5B;
  font-size: 10rem;
  text-shadow: 4px 4px 7px #545A5E;

}
.landingCarouselHeader1 {
  font-size: 10rem;
  text-shadow: 4px 4px 7px #545A5E;
  color: transparent;

}

.primaryLandingCarouselParagraph {
  font-size: 4rem;
  text-shadow: 2px 2px 5px #545A5E;
}

.secondarylandingCarouselParagraph {
  opacity: 0.1;
  text-shadow: 2px 2px 5px #545A5E;
}
.secondaryLandingCarouselParagraph1 {
  color: white;

}
.secondarylandingCarouselParagraph2 {
  text-shadow: 2px 2px 5px #545A5E;
  margin-bottom: 10px;
}

footer {
  background-color: #545A5E;
  height: 10rem;
}

.footerText {
  padding-left: 2rem;
  transform: translateY(155%);
  color: white;
  font-size: 1.75rem;
}

img{
  width: 100%;
}

/*----- Profile Form -----*/

.marginRight {
  margin-right: 50px;
}

.profileAbout {
  margin-left: -4rem;
}

.profileAbout1 {
  text-align: center;
}

.profileAbout2 {
  text-align: center;
}
.profileTextArea1 {
  text: center;
}

.profileContainer{
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.profileSubmitButton{
  text-align: center;
  padding-bottom: 15px;
  margin-left: -2rem;
}

.profileFormChecklist {
  margin-left: 0;
}

/*----- New Post Form -----*/

.newPostCard {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.newPostPadding {
  display: flex;
  padding-left: 15px;
}

h3{
  color: #545A5E;
  text-align: center;
  padding-top: 15px;
}

.postSubmitButton {
  text-align: center;
  margin-left: 40%;

}

.newPostContainer {
  flex-wrap: wrap;
  width: 50%;
  margin-left: 40%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.newPostContainerbuttons {
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.newPostContainer1 {
  flex-wrap: wrap;
  width: 50%;
  margin-left: 40%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 4rem;
  text-shadow: 2px 2px 5px black;
  color: white;

}
.newPostContainer12 {
  flex-wrap: wrap;
  width: 50%;
  margin-left: 40%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 4rem;
  text-shadow: 5px 5px 5px black;
  color: white;

}

.postFormTitle {
  margin-left: 50%;
}

.postFormDescription {
  margin-left: 50%;
}

.postFormZip {
  margin-left: 22%;
}

.postFormBudget {
  margin-left: 17%;
}

.skillsText {
  padding-bottom: 5%;
}

.logo {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  height: 60px;
  width: auto;
  margin-top: -10px;
}

.linkstyle {
  color: white;
  margin-bottom: 10px;
}
.linkstyle1 {
  color: black;
  text-align: center;
  align-content: center;
}

.foot{
  padding: 10px;
  text-align: center;
  color: white;
}

/*<-----menu title------>*/
.menuTitle {
  padding: 15px;
}

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
@desktop-above: ~"only screen and (min-width: 950px)";
@tablet-above: ~"only screen and (min-width: 530px)";
@mobile-above: ~"only screen and (min-width: 320px)";
